<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container" style="background-color: black; color: white;">

<div style="margin-top:20%">
    <h1 class="text-center text primary display-2">404 Hata sayfası</h1>
    <form action="#" method="get">
        <div class="contatainer">
            <div class="row">
                <div class="col-md-9"><input type="search" class="form-control" name="" id="" placeholder="Aramak istediğini lütfen giriniz"/></div>
                <div class="col-md-3"> <input type="submit" class="btn btn-primary" value="Ara ..."></div>
            </div>
        </div>
    </form>
</div>


<form action="#" method="get"  style="margin-top:10%">
    <input type="text" class="form-control" placeholder="adı" required="true"/>
    <input type="email" class="form-control" placeholder="email" required="true"/>
    <input type="password" class="form-control" placeholder="şifre" required="true"/>
    <input type="submit" class="form-control btn btn-primary" value="Gönder" />
</form>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
