<!doctype html>
<html lang="tr">
<head>
    <title>Cors Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<!--start codes-->
<h1 class="text-center text-primary">Cors Sayfasına Hoş geldiniz</h1>


<script>
    $(document).ready(function () {
     const url="http://localhost:8080/cors";
     console.log("öncesi")
     $.get(url,function(data,status){
         alert("Merhabalar "+data)
         console.log("log: "+data)
     });

     });
</script>

</body>
</html>