<!doctype html>
<html  th:lang="${#locale.language}"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Thymeleaf -2 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"   th:href="@{/css/style2.css}">
    <script th:src="@{/js/template2.js}"></script>
</head>
<body class="bg-dark text-white">
<!--start codes-->
th:action:getMapping
th:object:model key

<form th:method="post" th:action="@{/formurl}" th:object="${key_form}" >

    <div class="container">
        <div class="row">
                <div class="col-md-2">userName:</div>
                <div class="col-md-10 form-group" >
                    <input th:field="*{userName}"  type="text"  class="form-control" autofocus    >
                </div>

            <div class="col-md-2">userSurname:</div>
            <div class="col-md-10 form-group" >
                <input th:field="*{userSurname}"  type="text"  class="form-control"     >
            </div>

            <div class="col-md-2">emailAddress:</div>
            <div class="col-md-10 form-group" >
                <input th:field="*{emailAddress}"  type="text"  class="form-control"     >
            </div>


            <div class="col-md-2">userAge:</div>
            <div class="col-md-10 form-group" >
                <input th:field="*{userAge}"  type="text"  class="form-control"     >
            </div>


            <div class="col-md-2">userMessage:</div>
            <div class="col-md-10 form-group" >
                <input th:field="*{userMessage}"  type="text"  class="form-control"     >
            </div>


                <div class="col-md-2"></div>
                <div class="col-md-10 form-group">
                    <input type="reset" class="btn btn-danger" value="Temizle" >
                    <input type="submit" class="btn btn-primary" value="Gönder" >
                </div>

        </div>
    </div>
</form>


<!--end codes-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>